body {
  background-color: white;
  font-size: 24px;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background: #000000;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 240px;
  height: 89;
}

nav  {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 50px;
background-color: #1F1D1D;
}

nav ul {
display: flex;
justify-content: center;
list-style: none;
color: white;
margin-left: -30px;
}

nav a {
  margin:60px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Inter;
}

main .data {
  font-size: 38;
  text-align: center;
  margin-top: 100px;
}

main .nazva {
  text-align: center;
  font-size: 70px;
  margin-top: -30px;
}

main hr {
  margin-top: -50px;
  width: 600px;
  height: 2px;
  background-color: black;
}

main .text {
position: absolute;
width: 526.01px;
height: 167.1px;
left: 695.26px;
top: 374.89px;
font-weight: 400;
font-size: 29.0602px;
line-height: 35px;
text-align: center;
color: #000000;
}

.info1 div {
  background-color: #ADADAD;
  width: 355px;
  height: 517px;
  margin-top: 450px;
  margin-left: 100px;
}

.info1 img {
  width: 355px;
}

.info1 .data1 {
 margin-left: 30px;
}

.info1 .text1 {
  width: 80%;
  margin-top: 10px;
  margin-left: 30px;
}

.info1 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: white;
  margin-top: 100px;
  margin-right: 170px;
  font-size: 22px;
  padding-left: 0;
}





.info2 div {
  background-color: #ADADAD;
  width: 355px;
  height: 517px;
  margin-top: -520px;
  margin-left: 760px;
}

.info2 img {
  width: 355px;
}

.info2 .data2 {
 margin-left: 30px;
}

.info2 .text2 {
  width: 80%;
  margin-top: 10px;
  margin-left: 30px;
}

.info2 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: white;
  margin-top: 100px;
  margin-right: 170px;
  font-size: 22px;
  padding-left: 0;
}


.info3 div {
  background-color: #ADADAD;
  width: 355px;
  height: 517px;
  margin-top: -520px;
  margin-left: 1440px;
}

.info3 img {
  width: 355px;
}

.info3 .data3 {
 margin-left: 30px;
}

.info3 .text3 {
  width: 80%;
  margin-top: 10px;
  margin-left: 30px;
}

.info3 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: white;
  margin-top: 120px;
  margin-right: 170px;
  font-size: 22px;
  padding-left: 0;
}

section {
  box-sizing: border-box;
  width: 100%;
  height: 223px;
  left: 0px;
  top: 2051px;
  background: #1F1D1D;
  border: 1px solid #000000;
  margin-top: 300px;
}

section p {
  text-align: center;
  font-family: 'Inter';
  color: white;
  justify-content: center;
  text-decoration: none;
}


footer {
  width: 100%;;
  height: 150px;
  top: 2051px;
  background-color: #000000;
}
